*{
    padding: 0;
}
body{
    background-color: brown;
   
}
header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    .icon{
        display: flex;
        flex-direction: row;
    }
}
nav{
    .dis{
    flex-direction: row;
    color: black;
    font-size: medium;
    }
}

.contenido{
    text-align: center;
    border-radius: 30px ;
    
    .tarjetas{
        display: flex;
        height: 600px;
        width: 600px;
        justify-content: center;
        align-items: center;
    }
}

